* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.nav {

    width: 100%;
    height: 40px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.left {
    display: flex;
    margin: auto;
    margin-right: 300px;
    gap: 5px;


}

.left>button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;

}

.left>p:nth-child(5) {
    margin-left: 20px;
}

.left>p:nth-child(6) {
    margin-left: 20px;
}

.right {
    display: flex;
    margin: auto;
    align-items: end;
    gap: 20px;

}

.navdown {

    display: flex;
    margin: auto;
    height: 70px;
    gap: 10px;
    margin-top: 10px;
    width: 1200px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;

}

.navdown>img {
    width: 150px;
    height: 70px;
}

.navdown>input:nth-child(3) {
    border: 2px solid black;
    width: 800px;
    height: 40px;
    margin-top: 8px;
}

.navdown>input:nth-child(4) {
    background-color: rgb(107, 107, 231);
    width: 150px;
    height: 40px;
    margin-top: 8px;
    text-align: center;
    border: none;


}

.navdown>p {
    margin-top: 8px;
}
.navdown>button{
    border: none;
    background-color: #1394DD;
    color: white;
    width: 150px;
    height: 40px;
    margin-top: 8px;
}
.nav2{
    
    display: flex;
    margin: auto;
    margin-top: 10px;
}


.single {
    
   display: flex;
   margin: auto;
   gap: 30px;
}
img{
    width: 80%;
    height: 350px;
    margin-left: 150px;
}
.containerImages{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}
.containerImages>div{
    border-radius: 10px;
    padding: 20px;
    
    width: 200px;
    margin-left: 80px;
}
.containerImages img{
    width: 150px;
    height: 150px;
    margin: auto;
    
}
.daily{
    
    display: flex;
    gap: 30px;
    width: 50%;
    margin-left: 200px;
    
}
.middle{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 100px;
    background-color: rgb(37, 229, 165);
    margin: auto;
}
.middle>div{
    margin-top: 25px;
    margin-left: 80px;
}
.middle>div>button{
    width: 150px;
    border: 2px solid black;
    height: 45px;
    background-color:rgb(37, 229, 165) ;
    margin-right: 40px;
}
.popular{
    
    display: flex;
    gap: 30px;
    width: 50%;
    margin-left: 200px;
    
}
.product{
    display: flex;
    height: 400px;
    justify-content: space-around;
    margin: auto;

    
}
.product>div>img{
    width: 200px;
    margin-right: 100px;
    height: 200px;
    border-radius: 100px;
}


.product>div>p{
    text-align: center;
}
.down2{
    display: flex;
    justify-content: space-between;
}
.down2>div:nth-child(1){
    margin-left: 200px;
    
}
.down2>div>img{
    width: 1000px;
    height: 350px;
}
.down2>div>p{
    margin-top: 20px;
}
.down2>div>button{
    width: 140px;
    height: 30px;
    margin-top: 30px;
    background-color: white;
}
